%h2{:style => "padding-left: 10px;"}
  Products Export

%h3
  =@status

  %h4
    ="Pick a saved search or "
    =select "search", "search_id", ProductSearch.all.collect{ |s| [ s.search_name, s.id ] },
            { :include_blank => "enter new search criteria", :selected => @product_search.id }
    -unless @product_search.new_record?
      =form_tag delete_path, :method => :delete, :style => 'display: inline;' do
        =hidden_field_tag 'id', @product_search.id
        =submit_tag 'Delete This Search', :confirm => 'You SURE?!?!', :style => 'display: inline;'

=form_for @product_search, :url => "/search", :method => :post do |f|
  =f.hidden_field :id, :value => @product_search.id
  .search_table
    .search_table_row
      .search_table_header
        =""
      -ProductSearch.contains_searches.each do |attribute_name|
        .search_table_header
          =attribute_name.gsub("product", "").camelize
    .search_table_row
      .search_table_first_cell
        ="Phrase"
      -ProductSearch.contains_searches.each do |attribute_name|
        .search_table_cell{ :style => "width: 60px;" }
          =f.text_field attribute_name.to_sym, :size => 15

  .search_table
    .search_table_row
      .search_table_header
        =" "
      -ProductSearch.ranged_searches.each do |attribute_name|
        .search_table_header
          -if attribute_name == "stocklowqtyalarm"
            ="QtyAlarm"
          -else
            =attribute_name.gsub("product", "").camelize
    .search_table_row
      .search_table_first_cell
        Min
      -ProductSearch.ranged_searches.each do |attribute_name|
        .search_table_cell{ :style => "width: 65px;" }
          =f.text_field (attribute_name + "_min").to_sym, :size => 11
    .search_table_row
      .search_table_first_cell
        Max 
      -ProductSearch.ranged_searches.each do |attribute_name|
        .search_table_cell{ :style => "width: 65px;" }
          =f.text_field (attribute_name + "_max").to_sym, :size => 11

  .search_table
    .search_table_header
      ="Displaybegindate (must be in the format YYYY-MM-DD)"
    .search_table_row{:style => "text-align: center;"}
      ="Between:"
      =f.text_field :displaybegindate_max, :size => 11, :value => @product_search.displaybegindate_max
      ="and:"
      =f.text_field :displaybegindate_min, :size => 11, :value => @product_search.displaybegindate_min

  %p
    Enter a name if you'd like to save this search:  
    =f.text_field :search_name
    
  %p
    =f.submit "Search without Save", :onclick => 'start_spinner()'
    =f.submit "Save '#{@product_search.search_name}' and Search", :style => 'display: none;', :id => 'update_and_search', :onclick => 'start_spinner()' unless @product_search.new_record?
    =f.submit "Save New Search", :style => 'display: none;', :id => 'save_and_search', :onclick => 'start_spinner()'
