%h1
  ModelTrainStuff.com Inventory and Customer Import/Export Tool

%h2
  Product/Customer Import
=form_tag do
  =file_field_tag 'file', :size => 60
  =submit_tag "Upload"

%h2
  Products Export

=form_for @product_search, :url => "/search" do |f|
  ="Pick a saved search or "
  =select "search", "search_id", ProductSearch.all.collect{|s| [ s.name, s.id ] }, { :include_blank => "enter new search criteria" }

  =submit_tag "go!"

  %p
    Enter Min and/or Max Values
  #product_search_table.search_table
    .search_table_row
      .search_table_header{ :style => "border-top: 0; border-left: 0;" }
        =" "
      -ProductSearch.ranged_searches.each do |attribute_name|
        .search_table_header
          =attribute_name.gsub("product", "").camelize
    .search_table_row
      .search_table_first_cell
        Min
      -ProductSearch.ranged_searches.each do |attribute_name|
        .search_table_cell
          =f.text_field attribute_name + "_min", :size => 10
    .search_table_row
      .search_table_first_cell
        Max 
      -ProductSearch.ranged_searches.each do |attribute_name|
        .search_table_cell
          =f.text_field attribute_name + "_max", :size => 10

  %p
    Enter search strings.
  #product_search_table.search_table
    .search_table_row
      -ProductSearch.contains_searches.each do |attribute_name|
        .search_table_header
          =attribute_name.gsub("product", "").camelize
    .search_table_row
      -ProductSearch.contains_searches.each do |attribute_name|
        .search_table_cell
          =f.text_field attribute_name, :size => 15
  %p
    Enter a name for the search if you'd like to save this search:  
    =text_field_tag "new_search_name"
%h2
  Customers Export
%h3
  Pick a saved search from the drop down or enter new search criteria.

