#header
  %h1{:style => "text-align: center;"}
    ModelTrainStuff.com Inventory Import/Export Tool

#search_box
  %table.search_table
    %tr
      %td{:style => "border: 2px solid #000;"}
        %h2{:style => "padding-left: 10px;"}
          Product/Customer Import
        =form_tag upload_path, :multipart => true do
          %p
            =file_field_tag 'file', :size => 60
            =submit_tag "Upload"

    %tr
      %td{:style => "border: 2px solid #000; padding-bottom: 20px;", :id => "search_form"}
        =render :partial => 'search_form'
