#header
  %h1{:style => "text-align: center;"}
    ModelTrainStuff.com Inventory and Customer Import/Export Tool

#search_box
  %table.search_table
    %tr
      %td{:style => "border: 2px solid #000;"}
        %h2{:style => "padding-left: 10px;"}
          Product/Customer Import
        =form_tag upload_path, :multipart => true do
          %p
            =file_field_tag 'file', :size => 60
            =submit_tag "Upload"

    %tr
      %td{:style => "border: 2px solid #000; padding-bottom: 20px;"}
        %h2{:style => "padding-left: 10px;"}
          Products Export

        =form_for @product_search, :url => "/search" do |f|
          %p
            ="Pick a saved search or "
            =select "search", "search_id", ProductSearch.all.collect{|s|                                |
              [ s.search_name, s.id ] }, { :include_blank => "enter new search criteria" }              |
            =submit_tag "go!"
          %p
            Enter a name for the search if you'd like to save this search:  
            =text_field_tag "new_search_name"

          .search_table
            .search_table_row
              .search_table_header
                =""
              -ProductSearch.contains_searches.each do |attribute_name|
                .search_table_header
                  =attribute_name.gsub("product", "").camelize
            .search_table_row
              .search_table_first_cell
                ="Phrase"
              -ProductSearch.contains_searches.each do |attribute_name|
                .search_table_cell{ :style => "width: 60px;" }
                  =f.text_field attribute_name, :size => 15

          -#.search_table
            .attribute_cell 
              .search_table_row
                .attribute_cell
                  ="Attribute" 
              .search_table_row
                .attribute_cell
                  ="Value" 
            -5.times.each do |num|
              .attribute_cell 
                .search_table_row
                  .attribute_cell
                    =select_tag "AttrType#{num}", options_for_select(['Color', 'CarType'])
                .search_table_row
                  .attribute_cell
                    =text_field_tag "AttrValue#{num}", nil, :size => 11

          .search_table
            .search_table_row
              .search_table_header
                =" "
              -ProductSearch.ranged_searches.each do |attribute_name|
                .search_table_header
                  -if attribute_name == "stocklowqtyalarm"
                    ="QtyAlarm"
                  -else
                    =attribute_name.gsub("product", "").camelize
            .search_table_row
              .search_table_first_cell
                Min
              -ProductSearch.ranged_searches.each do |attribute_name|
                .search_table_cell{ :style => "width: 65px;" }
                  =f.text_field attribute_name + "_min", :size => 11
            .search_table_row
              .search_table_first_cell
                Max 
              -ProductSearch.ranged_searches.each do |attribute_name|
                .search_table_cell{ :style => "width: 65px;" }
                  =f.text_field attribute_name + "_max", :size => 11

          .search_table
            .search_table_header
              ="Displaybegindate (must be in the format YYYY-MM-DD)"
            .search_table_row{:style => "text-align: center;"}
              ="Between:"
              =f.text_field :displaybegindate_max, :size => 11
              ="and:"
              =f.text_field :displaybegindate_min, :size => 11
              
    %tr
      %td{:style => "border: 2px solid #000;"}
        %h2{:style => "padding-left: 10px;"}
          Customers Export
        %p
          ="So.... about that... You're gonna wanna come back some other time... maybe more like never?"
