<META HTTP-EQUIV="refresh" CONTENT="3;URL=#{image_path(@product)}">

%div{ :style => "text-align: center;" }
  %h2
    =@status

%div
  <center> You will now be redirected back to the image page... </center>
