/*
 *= require_self
 *= require_tree .
 */

#header {
  margin: 10px;
}
#search_box{
  margin: 10px;
}
#preview_box {
  margin: 10px;
}
.preview_table, .search_table {
  display: table;
}
.preview_table_header, .search_table_header {
  border: 1px solid #000;
  border-top: 2px solid #000;
  display: table-cell;
  font-weight: bold;
  padding: 5px;
}
.preview_table_row, .search_table_row {
  display: table-row;
}
.preview_table_cell, .search_table_cell, .search_table_first_cell {
  border: 1px solid #000;
  display: table-cell;
  white-space: nowrap;
}
.search_table_first_cell {
  border-left: 2px solid #000;
  padding: 5px; 
}
.search_table_cell input {
  border: 0;
}
