/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
#header {
  margin: 10px;
}
#search_box{
  margin: 10px;
}
#preview_box {
  margin: 10px;
}
.preview_table {
  display: table;
  border: 1px solid #000;
}
.preview_table_header {
  display: table-cell;
  font-weight: bold;
}
.preview_table_row {
  display: table-row;
}
.preview_table_cell {
  display: table-cell;
  white-space: nowrap;
}
