/*
 *= require_self
 *= require_tree .
 */
p {
  padding-left: 10px;
}
.button_to, .button_to div {
  display: inline;
}
#header, #search_box, #preview_box {
  width: 100%;
  margin: auto;
}
.preview_table, .search_table {
  display: table;
  overflow: auto;
  padding: 10px;
  margin: auto;
}
.preview_table_header, .search_table_header {
  display: table-cell;
  text-align: center;
  font-weight: bold;
}
.preview_table_row, .search_table_row {
  display: table-row;
}
.attribute_cell {
  display: table-cell;
}
.attribute_value, .attribute_label, .search_table_first_cell {
  font-weight: bold;
  padding: 5px;
}
.preview_table_cell, .search_table_cell {
  display: table-cell;
}
.preview_table_cell {
  border: 1px solid #000;
}
.long_cell {
  width: 800px;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.short_cell {
  width: 100px;
}
